[defaults]
inventory = inventory #los servidores estan anotados en el archivo inventory


remote_user = vagrant # El usuario que Ansible usará para entrar en la máquina Vagrant


host_key_checking = False # Salta la verificación de la clave SSH 

become = True #nos dará root