  ---
  - name: "Configuraci칩n de Servidor FTP anonimo"
    hosts: all
    become: yes

    tasks:

  #Instalar el servidor FTP
      - name: "Instalar el servidor vsftpd"
        apt:
          name: vsftpd
          state: latest
          update_cache: yes

  #Comprobar si la carpeta para los usuarios an칩nimos existe
      - name: "comprobar que existe la carpeta para anonimos"
        file:
          path: /srv/ftp
          state: directory
          owner: ftp
          group: ftp
          mode: '0755' # los usuarios anonimos no tendr치n permisos de escritura en esta carpeta

      - name: "configurar el acceso an칩nimo"
        copy:
          dest: /etc/vsftpd.conf
          content: |
            listen=YES
            listen_ipv6=NO
            anonymous_enable=YES
            local_enable=NO
            anon_root=/srv/ftp
            anon_upload_enable=NO
            anon_mkdir_write_enable=NO
            ftpd_banner=-- Mirror de Opensuse para 'sistema.sol'
            max_clients=200
            anon_max_rate=51200
            idle_session_timeout=30

# Reiniciar el servicio una vez configurado
      - name: "Reiniciar vsftpd"
        service:
          name: vsftpd
          state: restarted